# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Project Specific Directories
outputs/
data/uploads/
.data/
.tmp/
.cache/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Caching & DB
*.sqlite3
postgres-data/
redis-data/
qdrant-data/


# -------- NEXT JS | UI LAYER ----------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.*
ui/.yarn/*
ui/!.yarn/patches
ui/!.yarn/plugins
ui/!.yarn/releases
ui/!.yarn/versions

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
ui/.env*

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts
